@import 'variables';

.trending {
  padding: $padding-large;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: $padding-medium;
}

.shopAndSell {
  text-align: center;
  margin-top: $margin-top-large;

  h2 {
    font-size: $font-size-medium;
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: $font-size-title;
    font-weight: bold;
  }
}
