@import 'variables';

.LayoutSection {
  max-width: $max-width;
  margin: 0 auto;
}

.breadcrumb {
  margin-bottom: $margin-bottom;

  ol {
    list-style: none;
    padding: 0;
    display: flex;
  }

  li {
    &:not(:last-child)::after {
      content: '/';
      margin: 0 $padding-small;
      color: $color-gray;
    }
  }

  a {
    color: $color-dark;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
