@import 'variables';

.marketplaceSection {
  margin: 0 auto;
}

.bannerGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.banner {
  position: relative;

  img {
    background: $color-dark;
    object-fit: contain;
    width: 100%;
    height: auto;
  }
}
