@import 'variables';

.card {
  background: $color-white;
  padding: $padding-small;
  text-align: center;
  border-radius: $border-radius-md;

  img {
    width: 100%;
    height: $image-height-small;
    object-fit: cover;
  }
}
