@import 'variables';

.promoBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-dark;
  color: $color-white;
  padding: $padding-large;

  .content {
    display: flex;
    align-items: center;
    margin: auto;

    .icon {
      margin-right: $margin-large;
    }

    .text {
      margin-right: $margin-large;

      h2 {
        font-size: $font-size-medium;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: $font-size-body;
      }
    }
  }
}
